body {
  background-image: url("halloween.png");
  background-size: 100%;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Mooli';
  background-color: rgb(63, 68, 97);
  border-radius: 10px;
  padding: 20px;
  color: rgb(221, 192, 117);
}

form {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  padding: 10px;
  margin-bottom: 10px;
}
